@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

* {
    padding: 0;
    margin: auto;
    text-decoration: none;
    list-style: none;
    box-sizing:border-box;
  }
  
  body {
    background-color: #A8D973;
    text-align: center;
    padding-top: 200px;
  }
  
  .navbar {
    background: #A8D973;
    height: 120px;
     width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    /* box-shadow: 1px 20px #94BF65; */
  }
  
  .nav-menu{
    color: #A8D973;
    font-size: 50px;
    line-height: 80px;
    display: flex;
    justify-content: center;
    padding-left: 300px;
  }
  
  
  .navbar ul{
    float: right;
    margin-right: 20px;
  }
  
  .navbar ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    padding-top: 65px;
  } 
  
  nav ul li a{
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0 10px;
    font-family: 'Lato', sans-serif;
  }
  
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  
  nav ul li a:hover {
    color: #94BF65;
  }
  
  nav.navbar ul li a{
    position: relative;
  }
  nav.navbar ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #94BF65;
    height: 1px;
  }
  nav.navbar ul li a:hover:after {
    width: 100%;
  }

  /* slideshow */
  
  #slider {
    position: relative;
    width: 800px;
    height: 565px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
  }
  
  #slider ul {
    position: relative;
    list-style: none;
    height: 100%;
    width: 10000%;
    padding: 0;
    margin: 0;
    transition: all 750ms ease;
    left: 0;
  }
  
  #slider ul li {
    position: relative;
    height: 100%;
    float: left;
  }
  
  #slider ul li img {
    width: 800px;
    height: 565px;
  }
  
  #slider #prev, #slider #next {
    width: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    font-size: 2rem;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
    transform: translateY(-50%);
    transition: all 50ms ease;
  }

  /* next buttons style */
  #slider #prev {
    left: 50px;
  }

  #slider #next {
    right: 50px;
  }

  #slider #prev:hover, #slider #next:hover {
    background-color: rgba(0,0,0,0.5);
    text-shadow: 0;
  }

  /* Shopping list */

  #itemList {
   padding: 100px;
  }

  .item {
  background-color: #94BF65;
  height: 100px;
  margin: 0px;
  position: relative;
  border: 1px solid black;
  text-align: left;
  font-size: larger;
  }

  /* idk how this even works */

 .dropdownButton {
   background-color: #94BF65;
   border: none;
   right: 10px;
   top: 5px;
   height: 90px;
   font-size: 70px;
   width: 100px;
   position: absolute;
 }